<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Piotr Nowakowski - RESUME</title>
	<meta name="description" content="Hope this works">
	<meta name="author" content="Piotr Nowakowski">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" href="{%  static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}" media="screen" type="text/css" />
	<!--[if gte IE 8]><link rel="stylesheet" href="./css/ie.css" media="screen" type="text/css" /><![endif]-->
	<link rel="stylesheet" href="{% static "css/facebox.css" %}" media="screen" type="text/css" />
	<link rel="stylesheet" href="{% static "css/poshytip.css" %}" media="screen" type="text/css" />
	<link rel="stylesheet" href="{% static "css/print.css" %}" media="print" type="text/css" />
	<link rel="stylesheet" href="{% static "css/font.css" %}" type="text/css" charset="utf-8">

	<script src="{% static "js/jquery-1.6.2.min.js" %}"></script>
	<script src="{% static "js/facebox.js" %}"></script>
	<script src="{% static "js/jquery.poshytip.min.js" %}"></script>
	<script src="{% static "js/jquery.validate.min.js" %}"></script>
	<script src="{% static "js/script.js" %}"></script>

</head>
<body>
	<div id="main">
		<div id="top-bar">
			<div id="top-bar-content">
				<div id="cv">cV</div>
				<div id="name">
					<h1>Piotr Nowakowski</h1>
					<span>WANNABIE WEB DEVELOPER / GOLD BUG</span>
				</div>
				<div id="contact">
					<p><span class="left">Email</span><span>p.nowakowski@mailplus.pl</span><div class="clearfix"></div></p>
					<p><span class="left">Phone</span><span>0048 880 301 728</span><div class="clearfix"></div></p>
					<p><span class="left">Address</span><span>ul. Zaruskiego 10C/15, Gdynia</span><div class="clearfix"></div></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div id="container">
			<div id="header">
				<div id="about-me" class="circles"></div>
				<div id="work" class="circles"><span>Work</span>work experience</div>
				<div id="education" class="circles"><span>Education</span>formal education</div>
				<div id="skills" class="circles"><span>My skills</span>practical knowledge</div>
				<div id="portfolio" class="circles"><span>Portfolio</span>my latest work</div>
			</div>
			<div id="slider-container">
			
				<div id="s-about-me" class="slider default">
					<hr class="wrw" />
					<div class="section">
						<div class="title">
							<div class="title-bg"><h2>ABOUT <span>ME</span></h2></div>
							<span class="sub-title">Introduction</span>
						</div>
						
						<div class="content">
							<p>
                                My name is Piotr Nowakowski, I'm 27 and I temporarily live in Cork, Ireland. I'm a Python
                                programmer who would like to gain experience in web development. Currently I'm able to
                                work for you for 20 hours a week.
                            </p>
							<div class="clearfix"></div>					
						</div>

                        <div class="title">
							<span class="sub-title">Why Sunshine Profits?</span>
						</div>

						<div class="content">
							<p>I'm interested in precious metal investment and the role of gold in the global monetary
                            system. I've been subscribing <a href="http://www.twonuggets.com" target="_blank">TwoNuggets
                            Newsletter</a> for more then three years now.</p>
						</div>
					</div>
				</div>
				<div id="s-work" class="slider">
					<hr class="wrw" />
					<div class="section">
						<div class="title">
							<h2>MY <span>WORK</span></h2>
							<span class="sub-title">I have gathered my work experience in these companies</span>
						</div>
						<div class="content">
							<div class="timeframe">
								<div class="period">Oct 2013 - now</div>
								<div class="achievements">
									<h4>McAfee</h4>
									<h5>Contractor</h5>
									<p>Six month contract in Ireland as a Test Automation Engineer. Working on a new release
                                    of enterprise class cloud anti malware software. Technologies: <b>Python, CentOS, bash,
                                    Perl</b>.</p>
								</div>
							</div>
							<hr class="wrw-thin" />
							<div class="timeframe">
								<div class="period">Oct 2009 - Oct 2013</div>
								<div class="achievements">
									<h4>ADVA Optical Networking</h4>
									<h5>Test Engineer</h5>
									<p>Development and maintenance of automated test cases for enterprise network
                                       management software. Technologies: <b>Python, QF-Test, DWDM</b>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="s-education" class="slider">
					<hr class="wrw" />
					<div class="section">
						<div class="title">
							<h2>MY <span>EDUCATION</span></h2>
							<span class="sub-title">My formal education</span>
						</div>
						<div class="content">
							<div class="timeframe">
								<div class="period">2004 - 2009</div>
								<div class="achievements">
									<h4><b>POLITECHNIKA GDAŃSKA</b></h4>
									<h5>Master of Science</h5>
									<p>Department of Electronics, Telecommunications and Computer Science</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="s-skills" class="slider">
					<hr class="wrw" />
					<div class="section">
						<div class="title">
							<h2>MY <span>SKILLS</span></h2>
							<span class="sub-title">My practical skills and knowledge</span>						
						</div>
						<div class="content">
							<p>
                                I love programming in Python and I have the ability and desire to write civilised,
                                idiomatic, testable and standard compliant code. I don't have experience in web, but I'm
                                familiar with web technologies on basic level.
                            </p>
							
							<div class="skill-category"><h4 class="skills">Programming</h4></div>
							<div class="skill-container">
								<div class="skill-name">Testing</div>
								<div class="skill-strenght">
									<div class="skill ten"></div>
								</div>
								<div class="skill-score"><b>5</b> out of 5</div>
								<div class="clearfix"></div>

                                <div class="skill-name">Design</div>
								<div class="skill-strenght">
									<div class="skill four"></div>
								</div>
								<div class="skill-score"><b>2</b> out of 5</div>
								<div class="clearfix"></div>

                                <div class="skill-name">Python</div>
								<div class="skill-strenght">
									<div class="skill eight"></div>
								</div>
								<div class="skill-score"><b>4</b> out of 5</div>
								<div class="clearfix"></div>
								
							</div>
							<hr class="wrw-thin" />
							<div class="skill-category"><h4 class="skills">Web</h4></div>
							<div class="skill-container">
								<div class="skill-name">CSS</div>
								<div class="skill-strenght">
									<div class="skill two"></div>
								</div>
								<div class="skill-score">
									<b>1</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">HTML</div>
								<div class="skill-strenght">
									<div class="skill four"></div>
								</div>
								<div class="skill-score">
									<b>2</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">JavaScript</div>
								<div class="skill-strenght">
									<div class="skill two"></div>
								</div>
								<div class="skill-score">
									<b>1</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">Django</div>
								<div class="skill-strenght">
									<div class="skill four"></div>
								</div>
								<div class="skill-score">
									<b>2</b> out of 5
								</div>
								<div class="clearfix"></div>

							</div>
                            <div class="skill-category"><h4 class="skills">Misc</h4></div>
							<div class="skill-container">
								<div class="skill-name">Linux</div>
								<div class="skill-strenght">
									<div class="skill six"></div>
								</div>
								<div class="skill-score">
									<b>3</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">git</div>
								<div class="skill-strenght">
									<div class="skill four"></div>
								</div>
								<div class="skill-score">
									<b>2</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">SVN</div>
								<div class="skill-strenght">
									<div class="skill four"></div>
								</div>
								<div class="skill-score">
									<b>2</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">Networking</div>
								<div class="skill-strenght">
									<div class="skill six"></div>
								</div>
								<div class="skill-score">
									<b>3</b> out of 5
								</div>
								<div class="clearfix"></div>

                                <div class="skill-name">GIMP</div>
								<div class="skill-strenght">
									<div class="skill two"></div>
								</div>
								<div class="skill-score">
									<b>1</b> out of 5
								</div>
								<div class="clearfix"></div>

							</div>
						</div>
					</div>
				</div>
				<div id="s-portfolio" class="slider">
					<hr class="wrw" />
					<div class="section">
						<div class="title">
							<h2>MY <span>PORTFOLIO</span></h2>
							<span class="sub-title">See my latest work</span>
						</div>
						<div class="content">
                            <p><a href="https://github.com/morseusz/resume" target="_blank">GitHub</a></p>
                            <img src="/charts/moving_average/gold?start=1995-01-01&end=2012-01-01&ma=50,200"></img>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="footer-content">
				<div class="copyright">
					79 Characters Ltd 2013
				</div>
				<div class="social">
					<a href="http://pl.linkedin.com/pub/piotr-nowakowski/68/950/25a/" target="_blank" class="linkedin tooltip" title="LinkedIn"></a>
				</div>
				<div id="contact-me"><a href="mailto:p.nowakowski@mailplus.pl" title="Contact Me"></a></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>